<div class="row" id="login">
    <div class="col-lg-4 offset-md-4">
        <div class="login-form">
            <h1 class="app-name" style="text-align: center; font-family: 'Michroma', sans-serif;">Chat-Room</h1>
            <h5 class="app-sub" style="text-align: center; ">Sign in to Chat...</h5>
            <form>
                <div>
                    <input type="email" id="user-email" placeholder="Email">
                </div>
                <div>
                    <input type="password" id="user-password" placeholder="Password">
                </div>

                <div>
                    <button class="btn btn-block btn-primary" id="sumbit-button">Signup</button>
                </div>
                <hr>
                <h5 style="text-align: center;">Does't have a account?<a href=""> Register...</a> </h5>
            </form>
        </div>

    </div>

</div>