<div class="row" id="home-background">
    <div class="col-lg-6" id="left-side">

    </div>
    <div class="col-lg-6" id="right-side">
        <div style="width: 100;" id="content">
            <h1 id="app-name">CHAT ROOM</h1>
            <hr>
            <h3 id="nick-name">Let's Connect</h3>
            <br>
            <br>
            <button id="signup-button" class="btn btn-primary" [routerLink]="['register']">Sign up</button>
            <br>
            <br>
            <button id="login-button" class="btn btn-success" [routerLink]="['login']">Log in</button>
        </div>
    </div>
</div>