<div class="row" id="register">
    <div class="col-lg-4 offset-md-4">
        <div class="signup-form">
            <h1 class="app-name" style="text-align: center; font-family: 'Michroma', sans-serif;">Chat-Room</h1>
            <h5 class="app-sub" style="text-align: center; ">Sign up to Chat...</h5>
            <form>
                <div>
                    <input type="text" id="user-firstname" placeholder="Firstname">
                </div>
                <div>
                    <input type="text" id="user-lastname" placeholder="Lastname">
                </div>
                <div>
                    <input type="email" id="user-email" placeholder="Email">
                </div>
                <div>
                    <input type="password" id="user-password" placeholder="Password">
                </div>
                <div>
                    <input type="password" id="user-confirm-password" placeholder="Confirm-Password">
                </div>

                <div>
                    <button class="btn btn-block btn-primary" id="sumbit-button">Signup</button>
                </div>
                <hr>
                <h5 style="text-align: center;">Already have a account?<a href=""> Login...</a> </h5>

            </form>
        </div>

    </div>

</div>