@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

#user-firstname {
  padding: 2px;
  margin: 5px;
  width: 100%;

}

#user-lastname {
  padding: 2px;
  margin: 5px;
  width: 100%;


}

#user-email {
  padding: 2px;
  margin: 5px;
  width: 100%;


}

#user-password {
  padding: 2px;
  margin: 5px;
  width: 100%;

}

#user-confirm-password {
  padding: 2px;
  margin: 5px;
  width: 100%;
}

.btn {
  padding: 2px;
  margin: 5px;
  width: 100%;

}

/* .signup-form {

  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #bbbbbb;
  margin-top: 15vh;
} */

#register {
  background-image: url("src/assets/Page-Turner.svg");
  background-repeat: no-repeat;
  height: 100vh;

}
